{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie App</title>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700"> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- main.css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    
</head>
<body>
    <div class="header-wrapper">
        <!-- HEADER -->
        <header class="header">
            <a href="{% url 'home' %}" class="brand">Cornflix</a>
            
            <form action="">
                <input type="text" placeholder="search" class="search">
            </form>
        </header>
    </div>

    <main>

        {% block content %}

            <!-- Content Goes here  -->

        {% endblock content %}

    </main>
            

    <footer>
        <!-- footer -->
        <p style="text-align: center; color: #fff;">Created by Stephen Oluyomi. 2022</p>

    </footer>
    <script src="{% static 'js/main.js' %}"></script>    
</body>
</html>