{% extends 'base.html' %} {% load static %}

{% block search %}
<div class="article-wrapper">
    {% if search_results %}
        <div id="popular-movies">
            <h1 class="heading">Search results</h1>
        </div>
    {% elif search_results_length == 0 %}
        <p style="text-align: center;color: #fff;">Oops!! Movie not found, check to see your spellings are right</p>
    
    {% endif %}
    <article>
        {% for movie in search_results %}
            {% if movie.poster_path %}
                <div class="movie">
                    <img src={{ img_base_url }}{{ movie.poster_path }} alt="Image">
                    
                    <div class="movie-info">
                        <h3>{{ movie.title }}</h3>
                        {% if movie.vote_average > 6.9 %}
                            <span class="green">{{ movie.vote_average }}</span>
                        {% elif movie.vote_average > 5 %}
                            <span class="orange">{{ movie.vote_average }}</span>
                        {% else %}
                            <span class="red">{{ movie.vote_average }}</span>
                        {% endif %}
                    </div>
                    <div class="overview">
                        <h3>Overview</h3>
                        {{ movie.overview }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </article>
</div>

{% endblock %}

{% block content %}
    
    <div class="article-wrapper">
        {% if discover %}
            <div class="heading-wrapper">
                <h1 class="heading">Popular Movies</h1>
            </div>
        {% endif %}
        <article>
            {% for movie in discover %}
                <div class="movie">
                    <img src={{ img_base_url }}{{ movie.poster_path }} alt="Image">
                    <div class="movie-info">
                        <h3>{{ movie.title }}</h3>
                        {% if movie.vote_average > 6.9 %}
                            <span class="green">{{ movie.vote_average }}</span>
                        {% elif movie.vote_average > 5 %}
                            <span class="orange">{{ movie.vote_average }}</span>
                        {% else %}
                            <span class="red">{{ movie.vote_average }}</span>
                        {% endif %}
                    </div>
                    <div class="overview">
                        <h3>Overview</h3>
                        {{ movie.overview }}
                    </div>
                </div>
            {% endfor %}
        </article>

    <!-- UPCOMING   -->
    <div class="article-wrapper">
        {% if upcoming %}
            <div class="heading-wrapper">
                <h1 class="heading">upcoming Movies in Theater</h1>
            </div>
        {% endif %}
        <article>
            {% for movie in upcoming %}
                <div class="movie">
                    <img src={{ img_base_url }}{{ movie.poster_path }} alt="Image">
                    <div class="movie-info">
                        <h3>{{ movie.title }}</h3>
                        {% if movie.vote_average > 6.9 %}
                            <span class="green">{{ movie.vote_average }}</span>
                        {% elif movie.vote_average > 5 %}
                            <span class="orange">{{ movie.vote_average }}</span>
                        {% else %}
                            <span class="red">{{ movie.vote_average }}</span>
                        {% endif %}
                    </div>
                    <div class="overview">
                        <h3>Overview</h3>
                        {{ movie.overview }}
                    </div>
                </div>
            {% endfor %}
        </article>
    </div>

    
        
        
        
        
    </div>
         

{% endblock %}