{% extends 'base.html' %}

{% block content %}

    <p>Popular Movies</p>
        {% for movie in movies %}
            <div class="movie">
                <img src={{ img_base_url }}{{ movie.poster_path }} alt="Image">
                <div class="movie-info">
                    <h3>{{ movie.title }}</h3>
                    <span class="green">{{ movie.vote_average }}</span>
                </div>
                <div class="overview">
                    <h3>Overview</h3>
                    {{ movie.overview }}
                </div>
            </div>
        {% endfor %}
        

{% endblock %}